<%= javascript_include_tag 'listings.js' %>

<h1 class="page_title">Create Listing</h1>
<%= form_for(@listing) do |f| %>
  <div class="row">
    <div class="col-sm-4">

      <div class="card">
        <!--<div class="card-block">
          <h4 class="card-title">
            <span class="thin-text"><%= @listing.title %></span>
          </h4>
        </div>-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title, class: "form-control"%>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label "Email Address" %><br />
              <%= f.text_area :emails_address, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label "Phone Number" %><br />
              <%= f.text_area :phone_num, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :category_id %><br />
              <%= f.select :category_id, Category.all.map { |f| [f.name, f.id] } %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label 'Tags' %>
              <%= f.text_field :tag_list, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :region_id %><br />
              <%= f.select :region_id, Region.all.map { |f| [f.name, f.id] } %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label "School Name" %><br />
              <%= f.select :college_id, College.all.map { |f| [f.name, f.id] }  %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :address %>
              <%= f.text_field :address, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-items">
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-success btn-block" %>
            </div>
          </li>
        </ul>
      </div>

      <% if @listing.persisted? %>
      <%= link_to 'Show', @listing %> |
      <% end %>
      <%= link_to 'Back', root_path %>

    </div>
    <div class="col-md-8 new-description">
      <div class="field">
        <%= f.text_area :body %>
      </div>
    </div>
  </div>
<% end %>