<ol class="breadcrumb breadcrumb-arrow">
	<li><%= link_to 'Home', root_path %></li>
	<li class="active"><span>Search Listings</span></li>
</ol>

<div class="container">
  <div class="certain-cat">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8 text-xs-center">
      <% if @listings.present?  %>
        <% @listings.each do |f| %>
          <div class="post-panel">
            <h4 class="listing-title listing-bold"><%= link_to f.title, f%></h1>
            <p class="tags"><%= raw f.tags.map { |t| link_to t.name, listings_path(tag: t.name) }.join(', ') %></p>
            <p class="listing-desc"><%= truncate(f.description, length: 130) %></p>
            <div class="review-rating" data-score="<%= review.rating %>"></div>
            <%= link_to 'Read More', f, class: 'read-more' %><br />
              <br />
              <div class="time"><%= f.created_at.strftime('%B %d, %Y') %> - (<%= f.address %>)</div>
          </div>
        <% end %>
      <% else %>
        <p>No listings found!</p>
      <% end %>
      <%= will_paginate @listings, previous_label: "Older", next_label: "Newer", inner_window: 2, outer_window: 0 %>
    </div>
  </div>
</div>