<%= javascript_include_tag 'review.js' %>

<ol class="breadcrumb breadcrumb-arrow">
	<li><%= link_to 'Home', root_path %></li>
	<li class="active"><%= link_to @listing.category.name, category_path(@listing.category) %></li>
    <li><span><%= @listing.title %></span></li>
</ol>



<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
  
    <h1><%= @listing.title %></h1>
    <h3>Average Rating</h3>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <div>
      <%= link_to "Add Review", new_listing_review_path(@listing) %>
    </div>
    <span>Based on <%= @listing.reviews.count %> reviews</span><br />
    <div>
      <!--<%= link_to "See Reviews", listing_review_path(@listing)
 %>-->
    </div>
    <span>posted <%= time_ago_in_words(@listing.created_at) %></span>
    <br />
    <br />
    <%= @listing.body.html_safe %>

    <div class="col-sm-6">
      <div class="card container col-md-8">
        <h4><%= @listing.emails_address %></h4>
        <h4><%= @listing.phone_num %></h4>
        <h4><%= @listing.address %></h4>
      </div>
    </div>

    <script>
        $('.review-rating').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets/'
        });
    </script>

    <script>
      $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
          return $(this).attr('data-score')
        }
      });
    </script>

    <div id="disqus_thread">
      <%= render 'disqus' %>
    </div>


  </div>
</div>