
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-left">
                <div class="row">
                  <div class="col-md-12 ">
                    <center>
                      <%= avatar_for(@user) %>
                    </center>
                  </div>
                  <div class="col-md-12">
                    <h3 class="user-profile"><em>Profile for <%= @user.username %></em></h3>
                    <em>
                    <span class="help-block"><%= @user.email %></span>
                    <span class="help-block"><%= @user.occupation %></span>
                    </em>
                    <span class="help-block"><%= @user.description %></span>
                    <div id="IdFooter" class="text-right ">
                      <%= link_to "Edit", edit_user_path(@user), class: 'btn-margin button btn btn-md new-btn' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>


