<body>
  <div class="">
    <div class="top">
    </div>
    <!-- About Section -->
    <div class="parallax-struct">
      <div class="explore-topics">
        <h2 class="card-top-title">ABOUT</h2>
        <div class="about_section">
          <p>
            Purpose: To have a platform where college students, the next generation, can promote their own business at affordable prices.
            <br />
            <br />
            Things to know:
            <br />
            <br />
            <ul class="list_style">
              <li>TheFutureAreUS was founded in 2017, to help promote entrepreneurial college students.</li>
              <li>ONLY students can use this database with a school issued email, in support of local student owned businesses.</li>
              <li>TheFurtureAreUS makes money, by having student entrepreneurs pay a subscription to post ads, AND by selling ads to local businesses.</li>
              <li>In order to use the database, you must register with us first and it is free to register and find student owned businesses.</li>
              <li>You may post reviews on a business and refer a student owned business as well.</li>
              <li>All Student entrepreneurs who pay for a subscription must first be approved before we promote their business on the site.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="top-about">
      <div class="page-header">
      </div>
    </div>
    
    <!-- Map/Search Section -->
    <div class="parallax-struct">
      <div class="explore-topics">
        <h2 class="map_search card-top-title">FIND A LISTING</h2>
        <%= render "layouts/home_map" %>
      </div>
    </div>

    <div class="top-about">
      <div class="page-header">
      </div>
    </div>

    <div class="parallax-struct-plans">
      <div class="explore-topics plan">
        <h2 class="card-top-title">PLANS</h2>
        <div class="col-md-6">
          <div class="sub-first">
            <div class="plan-name">Monthly Subscription</div>
            <div style="color: #777">Get started promoting your business!</div>
            <div class="month-quant">
              <span class="dollar">$</span>
              <span class="price" data-usd="999">9.99</span>
              <span class="period">/month</span>
              <br />
              <%= link_to "Sign Up", new_charge_path, class: 'btn-margin button btn btn-md new-btn' %><br />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sub-first">
            <div class="plan-name">Yearly Subscription</div>
            <div style="color: #777">Get started promoting your business!</div>
            <div class="month-quant">
              <span class="dollar">$</span>
              <span class="price" data-usd="999">89.99</span>
              <span class="period">/year</span>
              <br />
             <%= link_to  "Sign Up", new_subscription_path, class: 'btn-margin button btn btn-md new-btn' %><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="top-about">
      <div class="page-header">
      </div>
    </div>

    <div class="parallax-struct">
      <div class="explore-topics">
        <h2 class="card-top-title">EXPLORE TOPICS</h2>
      </div>

      <div class="row">
        <div class="side-scroll">
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Automotive', categories_path(@automotive) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Beauty', categories_path(@beauty) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/119959/pexels-photo-119959.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Technology', categories_path(@technology) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/11406/c12ee0f379643a278198b2086afd3b9c.jpg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Academic', categories_path(@academic) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/159775/library-la-trobe-study-students-159775.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Art and Design', categories_path(@art) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Videography/Photography', categories_path(@photography) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/90362/pexels-photo-90362.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Culinary', categories_path(@culinary) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/66639/pexels-photo-66639.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Fashion', categories_path(@fashion) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/60228/pexels-photo-60228.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Childcare', categories_path(@childcare) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/94990/pexels-photo-94990.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Event Services', categories_path(@event_services) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/196031/pexels-photo-196031.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Other', categories_path(@other) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/428826/pexels-photo-428826.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>