<body>
  <div class="">
    <!--<div class="top">
    </div>
   

    <div class="top-about">
      <div class="page-header">
      </div>
    </div>-->
    
    <!-- Map/Search Section -->
    <aside class="col-md-4 sec-sidebar">
      <div class="ey_nav_div">
          <div class="explore-topics">
            <h2 class="map_search card-top-title">GET STARTED</h2>
          </div>
          <p>Welcome to TheFutureAreUs, We provide students a platform to promote your business, for a better and brighter future!</p>

          <br />

          <ol>
            <li>Click on the state your school is in</li>
            <li>Sign in/ Sign up (School email required)</li>
            <li>Post an Ad for your business, refer a student business ,  or search for a service!</li>
          </ol>
        
      </div>
    </aside>
    <aside class="col-md-4 main-sidebar">
      <div class="ey_nav_div">
          <div class="explore-topics">
            <h2 class="map_search card-top-title">FIND A LISTING</h2>
          </div>
        <%= form_tag( '/search', method: :get, class: "") do %>
          <%= text_field_tag :search, params[:search], placeholder: "city, state, zip, address", class: "button button-list search-bar well well-transparent" %>

          <!--<%= select_tag :miles, options_for_select([["within 25 miles", "25"],["within 50 miles", "50"], ["within 75 miles", "75"]]), class: "map_form button button-list search-bar well well-transparent" %>-->

          <%= submit_tag "Find Listings", name: nil, :class => "button button-list search-bar well well-transparent" %>
        <% end %>
      </div>
    </aside>
        <%= render "layouts/home_map" %>

    <!--<div class="top-about">
      <div class="page-header">
      </div>
    </div>-->

    <!--<div class="parallax-struct-plans">
      <div class="explore-topics plan">
        <h2 class="card-top-title">PLANS</h2>
        <div class="col-md-6">
          <div class="sub-first">
            <div class="plan-name">Monthly Subscription</div>
            <div style="color: #777">Get started promoting your business!</div>
            <div class="month-quant">
              <span class="dollar">$</span>
              <span class="price" data-usd="999">9.99</span>
              <span class="period">/month</span>
              <br />
              <%= link_to "Sign Up", new_charge_path, class: 'btn-margin button btn btn-md new-btn' %><br />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sub-first">
            <div class="plan-name">Yearly Subscription</div>
            <div style="color: #777">Get started promoting your business!</div>
            <div class="month-quant">
              <span class="dollar">$</span>
              <span class="price" data-usd="999">89.99</span>
              <span class="period">/year</span>
              <br />
             <%= link_to  "Sign Up", new_subscription_path, class: 'btn-margin button btn btn-md new-btn' %><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="top-about">
    </div>-->

    
    </div>
  </div>
</body>