<h1>Category Home</h1>

<div class="row">
        <div class="side-scroll">
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Automotive', categories_path(@automotive) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Beauty', categories_path(@beauty) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/119959/pexels-photo-119959.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Technology', categories_path(@technology) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/11406/c12ee0f379643a278198b2086afd3b9c.jpg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Academic', categories_path(@academic) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/159775/library-la-trobe-study-students-159775.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Art and Design', categories_path(@art) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Videography/Photography', categories_path(@photography) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/90362/pexels-photo-90362.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Culinary', categories_path(@culinary) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/66639/pexels-photo-66639.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Fashion', categories_path(@fashion) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/60228/pexels-photo-60228.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Childcare', categories_path(@childcare) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/94990/pexels-photo-94990.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Event Services', categories_path(@event_services) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/196031/pexels-photo-196031.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Other', categories_path(@other) %></h4>
              </div>
              <a href=""><div class="card-topper" style="background-image: url(https://images.pexels.com/photos/428826/pexels-photo-428826.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);" title></div>
              </a>
            </div>
          </div>
        </div>
      </div>