<h1>Category Home</h1>

<div class="row">
        <div class="side-scroll">
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Automotive', category_path%></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Beauty', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Technology', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Academic', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Art and Design', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Videography/Photography', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Culinary', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Fashion', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Childcare', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Event Services', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to 'Other', category_path %></h4>
              </div>
              <a href=""><div class="card-topper"  title></div>
              </a>
            </div>
          </div>
        </div>
      </div>