
                <%= form_for(resource, as: resource_name, url: charges_path(resource_name), html: { method: :post }) do |f| %>
                          <!-- monthly sub -->
                  <article>
                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                      </div>
                    <% end %>

                    <br />
                    <br />

                    <label class="li-Form-control li-Form-control--login">
                      <strong><span>Monthly Subscription: $9.99</span></strong>
                    </label>
                  </article>

                  <div class="form-actions">

                    <%= hidden_field_tag :subscription, value: params[:subscription]='yes' %>
                            
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                    data-amount="999"
                                    data-locale="auto">
                                "<%= f.button :submit %>"
                    </script>

                  </div>
              </div>


                  <% end %>
